<div class="tabs hidden-xs hidden-sm">

   <div class="tabs-item dropdown">
    <span><%= image_tag "ico_lieu.png", alt: "Le bar", id: "ico_lieu" %><span>
      <div class="dropdown-content">
         <span><%= link_to 'A l\'intérieur', "inside.html" %></span>
         <hr>
         <span><%= link_to 'Coté terrasse', "garden.html" %></span>
         <hr>
         <span><%= link_to 'L\'équipe', "whoweare.html" %></span>
    </div>
  </div>

  <div class="tabs-item dropdown">
    <span><%= image_tag "ico_cave.png", alt: "la cave", id: "ico_cave" %></span>
      <div class="dropdown-content">
        <span><%= link_to 'Nos bières', "cave.html" %></span>
        <hr>
        <span><%= link_to 'Les softs', "softs.html" %></span>
        <hr>
        <span><%= link_to 'Planches / Tapas', "planches.html" %></span>
      </div>
  </div>

  <div class="tabs-item">
    <span><a href="adresse.html"><%= image_tag "ico_plan.png", id: "ico_plan", title: "Pour nous trouver !" %></a></span>
  </div>

  <div class="tabs-item">
    <span><a href="contact.html"><%= image_tag "ico_contact.png", id: "ico_contact", title: "Pour nous écrire !" %></a></span>
  </div>

  <div class="tabs-item">
    <span><a href="https://mailchi.mp/007441856a60/newsletter10mai" target="_blank"><%= image_tag "ico_news.png", id: "ico_news", target: "_blank", title: "Pour rester informé !" %></a></span>
  </div>

</div><!-- Fin tabs -->

