<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item dropdown">
    <span>Section<span>
      <div class="dropdown-content">
         <span><%= link_to 'Sous-Section', "#.html" %></span>
          <hr>
         <span><%= link_to 'Sous-Section', "#.html" %></span>
         <hr>
         <span><%= link_to 'Sous-Section', "#.html" %></span>
    </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Section</span>
      <div class="dropdown-content">
        <span><%= link_to 'Sous-Section', "#.html" %></span>
        <hr>
        <span><%= link_to 'Sous-Section', "#.html" %></span>
        <hr>
        <span><%= link_to 'Sous-Section', "#.html" %></span>
      </div>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Section', "#.html" %></span>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Section', "#.html" %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'Contact', 'contact.html' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'A propos', 'about.html' %></span>
  </div>
</div><!-- Fin tabs -->

